table{
    text-align: center;
    border-collapse:collapse ;
    width: 50%;
}
th{
    background-color: darkred;
    color: white;
}
tr:nth-child(even){
    background-color: #e5ee61;
}
tr:nth-child(odd){
    background-color: #4a53cf;
}
td, th{
    border:3px solid rgba(7, 7, 7, 0.842);
    padding:10px;
}
